.header{
    display: flex;
}

div>form{
    position: relative;
    margin-left: 30%;
    padding-bottom: 60px;
    margin-top: -30px;
    justify-content: center;


}

div>form>input{
 width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid silver;

}

div>h5{
    position: absolute;
    margin-top: 7px;
    width: 100px;
}

.switch{
    position: relative;
    margin-right: 10px;
    display: inline-block;
    width: 52px;
    height: 26px;

}



.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}
.slider.round:before {
    border-radius: 50%;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



.slider.round {
    border-radius: 34px;
}