.photo{
    height: 40vh;
    width: 27vh;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 15px #ccc;
    position: relative;

}


.header{
    display: flex;
}

.star{
    width: 23%;
}



.text{
    flex-wrap: wrap;
    width: 150px;
    font-size: 14px;
    align-items: center;
}

.full{
    justify-content: space-between;
}