body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-txt-color: white;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #181a1a;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  background-image: url("https://www.meme-arsenal.com/memes/9efe2c5747a2cec4bf561815c1726285.jpg");
}

body {
  background: var(--bkg-color);
  background-image: url("https://images.hdqwalls.com/download/mountains-night-sky-1366x768.jpg");
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
